<!DOCTYPE HTML>
<HTML>
  <HEAD>
    <TITLE></TITLE>
  </HEAD>
  <BODY>
    <H1>Buster's Best Bowling Alley</H1>
    <H2>Bet You Can't Bowl A Strike Every Time</H2>
    <p>97 Bowling Alley Lane, Boulder CO</p>
  </BODY>
</HTML>